{% extends "layout.html" %}

{% block main %}
<table class="table">
    <thead class="thead-dark">
        <tr>
          <th scope="col">Title</th>
          <th scope="col">System</th>
          <th scope="col">Collection / Wishlist</th>
          <th scope="col">Have played</th>
        </tr>
    </thead>
    <tbody>
        {% for line in data %}
            <tr>
                {% for element in line %}
                <td> {{ element }} </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}